body {
    background-color: #eee;
    margin: 30px 0;
}

* {
    box-sizing: border-box;
}

section.quotes {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: .2rem;
    box-shadow: 2px  2px 2px rgba(0,0,0,.1);
}

section.quotes ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section.quotes ul li {
    padding: 20px;
}

button.logout {
    display: inline-block;
    font-size: 16px;
    color: #ccc;
    transition: all ease-in-out .2s;
    text-decoration: none;
    border: 0;
    background: transparent;
    cursor: pointer;
}
button.logout:hover {
    color: #666;
}

section.quotes ul li:not(:first-child) {
    border-top: 1px solid #ccc;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}
