* {
    box-sizing: border-box;
}

h1 {
    margin: 24px;
    padding: 0;
    text-align: center;
}

.Login {
    padding: 10px;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 10px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Login .form-group:not(:first-child) {
    margin-top: 1rem;
}

.Login form label {
    display: block;
    text-align: left;
    margin-bottom: .5rem;
    font-size: 14px;
}

.Login form input {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: .2rem;
    border: 1px solid #ccc;
}

.Login form button {
    display: block;
    margin-top: 1rem;
    width: 100%;
    background: #3CB371;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    border: 0;
    border-radius: .2rem;
    padding: 10px 0;
    font-size: 16px;
}

.Login form button:disabled {
    background: #d3d3d3;
}

.Login .error {
    background-color: #FFBABA;
    color: #D8000C;
    margin: 0 auto;
    max-width: 320px;
    padding: 10px;
    margin-bottom: 10px;
}
